<div class="text-5xl">
  Workout
  <%= @workout[:date].strftime("%A %B %-d, %Y")  %>
</div>

<a href="/workouts/<%= @workout[:id] %>/sets/new">Add a set</a>
<hr>


<%- @workout.sets.each do | set | %>
  <%= set.exercise[:name] %>
  <%= set[:reps] %>
  <%= set[:weight] %>

  <hr>
<%- end %>
