Workout:
<a class="underline" href="/workouts/<%= @set.workout[:id] %>">
  <%= @set.workout[:date].strftime("%A %B %-d, %Y")  %>
</a>
<hr>
Exercise:
<a class="underline" href="/exercises/<%= @set.exercise[:id] %>">
  <%= @set.exercise[:name] %>
  </a>
<hr>
Reps: <%= @set[:reps] %>
<hr>
Weight:   <%= @set[:weight] %>
