<div class="text-5xl">
Exercise:
<%= @exercise[:name] %>
<br>
Goal weight:
<%= @exercise[:goal_weight] %>

</div>
<br>
<hr>
<%- @sets.each do |set| %>
    <hr>
    <%= set %>
    <br>
    <a href="/workouts/<%= @workout[:id] %>/exercises/<%= @exercise[:id] %>/sets/<%= set[:id] %>/"> show</a>
    <br>
    <a href="/workouts/<%= @workout[:id] %>/exercises/<%= @exercise[:id] %>/sets/<%= set[:id] %>/edit"> edit</a>
<%- end %>
<br>
<hr>

<a href="/workouts/<%= @workout[:id] %>/exercises/<%= @exercise[:id] %>/sets/new/">Create a new set</a>
